name: Build and Test
runs:
  using: "composite"
  steps:
    - uses: actions/setup-node@v4
      with:
        node-version: "20"
        cache: "npm"
      shell: bash
      run: |
        npm ci
        npm run lint
        npm test
        npm run build
